.App {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  margin: 0;
  background-color: #f8f9fa;
}

button:hover {
  opacity: 0.9;
}

button:disabled {
  cursor: not-allowed !important;
  opacity: 0.6;
}